<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="gametag-wrap" th:fragment="categoryTag">
  <div class="gametag-header">
      <div class="logo"></div>
      <div class="down"></div>
  </div>



  <div class="gametag-body">
    <div class="gametag-body-left">Category</div>
    <div class="gametags" id="gametags">

        <div th:each="category : ${categoryList}" id="categoryCode" class="gametag">
            <label th:for="${category.categoryCode}">
                <input th:id="${category.categoryCode}" th:value="${category.categoryCode}" th:type="checkbox" name="categoryCode" class="categoryCheck" onclick="getCheckboxValue();searchGameMainList()" >
                <div class="tag-label" th:text="${category.categoryName}"></div>
            </label>
        </div>
    </div>
  </div>

  <div class="gametag-body">

      <div class="gametag-body-left">Tag</div>
      <div class="gametags" id="gametags2">

        <div th:each="tag : ${tagList}" id="tagCode" class="gametag">
            <label th:for="${tag.tagCode}">
                <input th:id="${tag.tagCode}" th:value="${tag.tagCode}" th:type="checkbox" name="tagCode" class="tagCheck" onclick="getCheckboxValue2();searchGameMainList()">
                <div class="tag-label" th:text="${tag.tagName}"></div>
            </label>
        </div>
      </div>
  </div>


  <!--                    <div th:each="devices : ${devicesList}">-->
  <!--                        <button th:text="${devices.devicesName}"></button>-->
  <!--                    </div>-->



  <div class="gametag-foot">
    <div class="tag" id="tag-result"></div>
  </div>

</section>

</body>
</html>