<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gameTag</title>
</head>
<body>
<!-- 게임태그 -->
<section class="gametag-wrap" th:fragment="gameTag">
  <div class="gametag-header">
    <div class="logo"><img src="/image/icon_light/gamespace.svg" alt="gamespace"></div>
    <div class="down"><img src="/image/icon_light/down.svg" alt="down"></div>
  </div>
  <div class="gametag-body">
    <div class="gametag-body-left">Tag</div>
    <form class="gametags">

      <table th:each="game : ${gameInfoList}">
        <tr>

          <td><label th:for="${game.gameCode}" th:text="${game.gameName}"></label><input type="checkbox"th:id="${game.gameCode}" th:value="${game.gameCode}" name="game-tag" class="gameName" onclick='getCheckboxValue();searchGameCodeList();'></td>

        </tr>
      </table>

    </form>
    <div class="down"><img src="/image/icon_light/down.svg" alt="down"></div>
  </div>
  <div class="gametag-foot">
    <div class="tag" id="tag-result"></div>
  </div>
</section>
</body>
</html>