<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>gamespace</title>
</head>
<body>
<header th:fragment="header">
  <div class="container">
    <nav class="main-navigation nav">
      <div class="nav-left">
        <div class="logo"><a href="/"><img src="/image/icon_light/gamespace.svg" alt="logo"></a></div>
        <ul>
          <li><a href="/game/game">game</a></li>
          <li class="dropdown">
            <div class="dropdown-menu">
              gallery
              <img src="/image/icon_light/down.svg" alt="down">
            </div>
            <div class="dropdown-content">
              <a href="#">free gallery</a>
              <a href="#">game gallery</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="/news/news">news</a>
          </li>
          <li><a href="#">support</a></li>
          <li class="dropdown">
            <div class="dropdown-menu">
              admin
              <img src="/image/icon_light/down.svg" alt="down">
            </div>
            <div class="dropdown-content">
              <a href="#">gallery</a>
              <a href="#">member</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="#" class="dark"><img src="/image/icon_light/sun.svg" alt="lite"></a>
        <th:block sec:authorize="isAnonymous()">
          <a href="/member/login" class="mypage"><img src="/image/icon/mypage.svg" alt="mypage"></a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
          <a href="/member/logout" class="mypage"><img src="/image/icon/mypage.svg" alt="mypage"></a>
        </th:block>
      </div>
    </nav>
  </div>
</header>
</body>
</html>