<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/commonDark.css">
    <link rel="stylesheet" href="/css/game/gameMain.css">

    <title>gamespace</title>

    <script src="/js/init.js"></script>
    <!-- jQuery library -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>-->

    <!-- Popper JS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body>

<div id="game">
    <th:block th:replace="~{common/header :: header}"/>
</div>



<!--th:text="${category.categoryName}"-->
<!--th:field="*{category}"-->
<!--th:for="${#ids.prev(categoryList)}"-->
<!--th:value="${category.categoryCode}"-->

<!-- 카테고리, 태그 -->
<th:block th:replace="~{common/categoryTag :: categoryTag}"/>


<!-- 게임리스트 -->
    <section id="table">

        <div th:id="search" class="lists">
                <div class="item">
                    <div class='list' th:each="game : ${gameInfoList}">
                        <a th:href="@{/game/gameInfoDetail(gameCode=${game.gameCode})}">
                        <div class='game-head' th:text="${game.gameName}"></div>
                        <div th:text="${game.categoryCode}"></div>
                        <div th:text="${game.tagCode}"></div>
                        <div class='news-body' th:text="${game.gameIntro}"></div>
                        </a>
                    </div>
                </div>
        </div>



    </section>

<!--게임작성버튼-->
<div class="submitA">
    <a href="/game/gameInfoInsert"><input type="button" value="작성하기" class="btn"></a>
</div>

<!-- 페이지 네이션-->
<div class="pagination">
    <div class="pagination-wrap">
        <i class="left-icon"><img src="/image/svg/icon-arrow-left.svg" alt="left"></i>
        <ol id="numbers"></ol>
        <i class="right-icon"><img src="/image/svg/icon-arrow-right.svg" alt="right"></i>
    </div>
</div>
<script type="application/javascript" src="/js/pagination.js"></script>


<!--푸터-->
<div class="footer">
    <th:block th:replace="~{common/footer :: footer}"/>
</div>

<script>

    function getCheckboxValue()  {
        // 선택된 목록 가져오기
        const query = 'input[name="categoryCode"]:checked';
        const selectedEls =
            document.querySelectorAll(query);
        console.log("22"+selectedEls);

        // 선택된 목록에서 value 찾기
        let result = '';
        selectedEls.forEach((el) => {
            result += `<p class="tag-gameName">${el.value}</p>`;

        });

        // 출력
        document.getElementById('tag-result').innerHTML
            = result;

        // 코드로 받은 리스트 출력
    }

    function getCheckboxValue2()  {
        // 선택된 목록 가져오기
        const query = 'input[name="tagCode"]:checked';
        const selectedEls =
            document.querySelectorAll(query);
        console.log("22"+selectedEls);

        // 선택된 목록에서 value 찾기
        let result = '';
        selectedEls.forEach((el) => {
            result += `<p class="tag-gameName">${el.value}</p>`;

        });

        // 출력
        document.getElementById('tag-result').innerHTML
            = result;

        // 코드로 받은 리스트 출력
    }




    
    function gameDetailView(gameCode) {



        let f = document.createElement('form');

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'gameCode');
        obj.setAttribute('value', gameCode);

        f.appendChild(obj);
        f.setAttribute('method', 'get');
        f.setAttribute('action', '/gameInfoDetail');
        document.body.appendChild(f);
        f.submit();
    }
    
    
    
    
    
   function searchGameMainList() {

       const categoryCode = [];
       categoryCode.push('tmp');
       $("input[name='categoryCode']:checked").each(function (){
           let chk = $(this).val();
           categoryCode.push(chk);
       });


       const tagCode = [];
       tagCode.push('tmp');
       $("input[name='tagCode']:checked").each(function (){
           let thk = $(this).val();
           tagCode.push(thk);
       });


       console.log(categoryCode);
       console.log(tagCode);

       $.ajax({
           url: "/game/game",             // 요청할 서버url
           type : "post", // 타입은 뭘 쓸거니?
           datatype : "json",
           data: {
               categoryCode : categoryCode,
               tagCode : tagCode
           },

           success: function(data,status, xhr) {    // 결과 성공 콜백함수

               console.log(data.categoryTagList[0].gameName);


               $('#table').html("");

               data.categoryTagList.forEach(function(item) {


                   let table = "<div class='lists'>";
                        table += "<div class='item'>";
                            table += "<div class='list'>";
                            table += "<a href='/game/gameInfoDetail?gameCode="+item.gameCode+"' onclick='gameDetailView()'>";
                               table += "<div class='game-head'>"+item.gameName+"</div>";
                               table += "<div class=''>"+item.categoryCode+"</div>";
                               table += "<div class=''>"+item.tagCode+"</div>";
                               table += "<div class='news-body'>"+item.gameIntro+"</div>";
                           table += "</a>";
                            table += "</div>";
                        table += "</div>";
                   table += "</div>";
                   $('#table').append(table);
               });


           },
           error: function(xhr, status, error) {   // 결과 에러 콜백함수
               console.log('error');
           }
       });
   };






</script>

</body>
</th:block>
</html>