<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">



    <title>gamespace</title>



    <!-- jQuery library -->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>-->

    <!-- Popper JS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body>

<div id="game">
    <th:block th:replace="~{common/header :: header}"/>
</div>



<!--th:text="${category.categoryName}"-->

    <section>
        <form action="/game/game"  method="post" onsubmit="return false;">

            <div th:each="category : ${categoryList}" th:id="listCategory">
                <input th:value="${category.categoryCode}" th:type="checkbox" th:field="*{categoryList}">
                <label th:for="${#ids.prev('categoryList')}" th:text="${category.categoryName}"></label>
            </div>

            <div th:each="tagList : ${tagList}">
                <input th:text="${tagList.tagName}" th:value="${tagList.tagCode}" th:type="checkbox" name="tagCode">
            </div>


            <div th:each="devices : ${devicesList}">
                <button th:text="${devices.devicesName}"></button>

            </div>
            <button type="button" onclick="searchGameMainList()">전송</button>
        </form>

<!--            <div class="toggle" >-->
<!--                <form th:action="@{game}" method="get">-->
<!--                    <label for="pc"><input type="radio" name="category" id="pc" class="category" checked th:value="${devicesOne.devicesCode}"><div class="togg pc"><img src="/image/icon_dark/pc.svg" alt=""></div></label>-->
<!--                </form>-->
<!--                <form th:action="@{game}" method="get">-->
<!--                    <label for="mobile"><input type="radio" name="category" id="mobile" class="category" th:value="${devicesOne.devicesCode}"><div class="togg mobile"><img src="/image/icon_dark/mobile.svg" alt=""></div></label>-->
<!--                </form>-->
<!--                <form th:action="@{game}" method="get">-->
<!--                    <label for="console"><input type="radio" name="category" id="console" class="category" th:value="${devicesOne.devicesCode}"><div class="togg console"><img src="/image/icon_dark/console.svg" alt=""></div></label>-->
<!--                </form>-->
<!--            </div>-->

    </section>


    <section>

        <div th:each="game : ${gameInfoList}"> <!--th:class="t-body"-->
            <div th:text="${game.gameName}"></div>
            <div th:text="${game.categoryCode}"></div>
            <div th:text="${game.tagCode}"></div>
            <div th:text="${game.gameIntro}"></div>
        </div>

        <div th:id="search">
<!--            <div id="game-title"> </div>-->
<!--            <div id="game-body"> </div>-->

        </div>



    </section>










<div class="footer">
    <th:block th:replace="~{common/footer :: footer}"/>
</div>

<script>

   // $.ajax({
   //     type : 'get',           // 타입 (get, post, put 등등)
   //     url : '/game/game',           // 요청할 서버url
   //     async : true,            // 비동기화 여부 (default : true)
   //     headers : {              // Http header
   //         "Content-Type" : "application/json",
   //         "X-HTTP-Method-Override" : "POST"
   //     },
   //     dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)
   //     data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)
   //         "no" : no,
   //         "name" : name,
   //         "nick" : nick
   //     }),
   //     success : function(result) { // 결과 성공 콜백함수
   //         console.log(result);
   //     },
   //     error : function(request, status, error) { // 결과 에러 콜백함수
   //         console.log(error)
   //     }
   // })

   // $(document).ready(function (){
   //     $("#gosubmit").click(searchGameMainList);
   // });
   function searchGameMainList() {

       //jQuery.ajaxSettings.traditional = true;

       $.ajax({
           url: "/game/game",             // 요청할 서버url
           type : "post", // 타입은 뭘 쓸거니?
           datatype : "json",
           //data:JSON.stringify(obj),


           // data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)
           //
           // }),

           success: function(data,status, xhr) {    // 결과 성공 콜백함수
               // let result='';
               // for (let i=0; i<data.length; i++){
               //     result += '<div>'+data[i].property+'</div>';
               // }
               $('#search').html(data);

            // for (let i in data){
            //     let table = "<tr>";
            //     table += "<td>"+data[i].gameName+"</td>";
            //     table += "<td>"+data[i].devicesCode+"</td>";
            //     table += "<td>"+data[i].categoryCode+"</td>";
            //     table += "<td>"+data[i].tagCode+"</td>";
            //     table += "<td>"+data[i].launchDate+"</td>";
            //     table += "<td>"+data[i].developer+"</td>";
            //     table += "<td>"+data[i].distributorCode+"</td>";
            //     table += "<td>"+data[i].ratingCode+"</td>";
            //     table += "<td>"+data[i].price+"</td>";
            //     table += "<td>"+data[i].platformCode+"</td>";
            //     table += "<td>"+data[i].languageCode+"</td>";
            //     table += "<td>"+data[i].gameIntro+"</td>";
            //
            //
            //     $('#search').append(table);
            // }

           },
           error: function(xhr, status, error) {   // 결과 에러 콜백함수
               console.log(error);
           }
       });
   };






</script>

</body>
</th:block>
</html>