<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>gamespace</title>
  </head>
  <body>
  <div class="header">
    <th:block th:replace="~{common/header :: header}"/>
  </div>
  <div class="main-page">
    <p align="center" class="errorHead error-message">에러가 발생했어용~ 무슨 일이 일어난거죠?</p>
  </div>
  <div class="footer">
    <th:block th:replace="~{common/footer :: footer}"/>
  </div>
  </body>
</th:block>
</html>