<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>gamespace</title>
</head>
<body>
<div th:fragment="linkChecked(num)">
  <form method="POST" action="/member/userSetting" class="menu-btn" onsubmit="return false;">
    <div class="img-icon"><img src="/image/icon_light/globe.svg"></div>
    <input type="hidden" name="memberCode" class="memberCode" th:value="${member.memberCode}">
    <input type="hidden" name="linkCode" class="linkCode" th:value="${num}">
    <input th:if="${num == '1'}" th:value="${link.get(0)}" type="text" name="modifyLink" class="input-text modifyLink">
    <input th:if="${num == '2'}" th:value="${link.get(1)}" type="text" name="modifyLink" class="input-text modifyLink">
    <input th:if="${num == '3'}" th:value="${link.get(2)}" type="text" name="modifyLink" class="input-text modifyLink">
    <input th:if="${num == '4'}" th:value="${link.get(3)}" type="text" name="modifyLink" class="input-text modifyLink">
    <input th:if="${num == '5'}" th:value="${link.get(4)}" type="text" name="modifyLink" class="input-text modifyLink">
    <input th:if="${num == '6'}" th:value="${link.get(5)}" type="text" name="modifyLink" class="input-text modifyLink">
    <label>
      <button type="button" class="link-modify-submit"></button>
      <img src="/image/icon_light/right.svg">
    </label>
  </form>
</div>
</body>
</html>