<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.gamespace.game.model.dao.GameInfoMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <resultMap type="com.semi.gamespace.game.model.dto.GameInfoDTO" id="gameInfoResultMap">
        <id property="gameCode" column="GAME_CODE"/>
        <result property="gameName" column="GAME_NAME"/>
        <result property="devicesCode" column="DEVICES_CODE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="tagCode" column="TAG_CODE"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="launchDate" column="LAUNCH_DATE"/>
        <result property="developer" column="DEVELOPER"/>
        <result property="distributorCode" column="DISTRIBUTOR_CODE"/>
        <result property="ratingCode" column="RATING_CODE"/>
        <result property="price" column="PRICE"/>
        <result property="platformCode" column="PLATFORM_CODE"/>
        <result property="languageCode" column="LANGUAGE_CODE"/>
        <result property="specificationCode" column="SPECIFICATION_CODE"/>
        <result property="gameIntro" column="GAME_INTRO"/>
        <result property="gameStatus" column="GAME_STATUS"/>

    </resultMap>

    <resultMap type="com.semi.gamespace.game.model.dto.MinimumSystemDTO" id="minimumSystemResultMap">
        <id property="minSystemCode" column="MIN_SYSTEM_CODE"/>
        <result property="minOperatingSystem" column="MIN_OPERATING_SYSTEM"/>
        <result property="minProcessor" column="MIN_PROCESSOR"/>
        <result property="minMemory" column="MIN_MEMORY"/>
        <result property="minStorageSpace" column="MIN_STORAGE_SPACE"/>
        <result property="minGraphic" column="MIN_GRAPHIC"/>
    </resultMap>

    <resultMap type="com.semi.gamespace.game.model.dto.RecommendedSystemDTO" id="recommendedSystemResultMap">
        <id property="recSystemCode" column="REC_SYSTEM_CODE"/>
        <result property="recOperatingSystem" column="REC_OPERATING_SYSTEM"/>
        <result property="recProcessor" column="REC_PROCESSOR"/>
        <result property="recMemory" column="REC_MEMORY"/>
        <result property="recStorageSpace" column="REC_STORAGE_SPACE"/>
        <result property="recGraphic" column="REC_GRAPHIC"/>
    </resultMap>


    <select id="selectAllGameInfo" resultMap="gameInfoResultMap">
        SELECT
            A.GAME_CODE
            , A.GAME_NAME
            , A.DEVICES_CODE
            , A.CATEGORY_CODE
            , A.TAG_CODE
            , A.REGISTRATION_DATE
            , A.LAUNCH_DATE
            , A.DEVELOPER
            , A.DISTRIBUTOR_CODE
            , A.RATING_CODE
            , A.PRICE
            , A.PLATFORM_CODE
            , A.LANGUAGE_CODE
            , A.SPECIFICATION_CODE
            , A.GAME_INTRO
            , A.GAME_STATUS
        FROM GAME_INFO A
        WHERE A.GAME_STATUS = 'Y'
        ORDER BY A.GAME_CODE
    </select>

    <select id="selectOneGameInfoName" resultMap="gameInfoResultMap">
        SELECT
            A.GAME_CODE
            , A.GAME_NAME
            , A.DEVICES_CODE
            , A.CATEGORY_CODE
            , A.TAG_CODE
            , A.REGISTRATION_DATE
            , A.LAUNCH_DATE
            , A.DEVELOPER
            , A.DISTRIBUTOR_CODE
            , A.RATING_CODE
            , A.PRICE
            , A.PLATFORM_CODE
            , A.LANGUAGE_CODE
            , A.SPECIFICATION_CODE
            , A.GAME_INTRO
            , A.GAME_STATUS
        FROM GAME_INFO A
        WHERE A.GAME_NAME = #{gameName}


    </select>

    <select id="selectAllMinimumSystem" resultMap="minimumSystemResultMap">

        SELECT
            MIN_SYSTEM_CODE
            , A.MIN_OPERATING_SYSTEM
            , A.MIN_PROCESSOR
            , A.MIN_MEMORY
            , A.MIN_STORAGE_SPACE
            , A.MIN_GRAPHIC
        FROM MINIMUM_SYSTEM A
    </select>


    <select id="selectAllRecommendedSystem" resultMap="recommendedSystemResultMap">

        SELECT
            REC_SYSTEM_CODE
            , A.REC_OPERATING_SYSTEM
            , A.REC_PROCESSOR
            , A.REC_MEMORY
            , A.REC_STORAGE_SPACE
            , A.REC_GRAPHIC
        FROM RECOMMENDED_SYSTEM A
    </select>

    <insert id="registGameInfo">
        INSERT
        INTO GAME_INFO A
            (
                A.GAME_CODE
                , A.GAME_NAME
                , A.DEVICES_CODE
                , A.CATEGORY_CODE
                , A.TAG_CODE
                , A.REGISTRATION_DATE
                , A.LAUNCH_DATE
                , A.DEVELOPER
                , A.DISTRIBUTOR_CODE
                , A.RATING_CODE
                , A.PRICE
                , A.PLATFORM_CODE
                , A.LANGUAGE_CODE
                , A.SPECIFICATION_CODE
                , A.GAME_INTRO
                , A.GAME_STATUS
        )
        VALUES
            (
            GAME_CODE_SEQ.NEXTVAL
                , #{ gameName }
                , #{ devicesCode }
                , #{ categoryCode }
                , #{ tagCode }
                , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:mi:SS')
                , #{ launchDate }
                , #{ developer }
                , #{ distributorCode }
                , #{ ratingCode }
                , #{ price }
                , #{ platformCode }
                , #{ languageCode }
                , 'SPE_'|| SPECIFICATION_CODE_SEQ.NEXTVAL
                , #{ gameIntro }
                , #{ gameStatus }
            )



    </insert>

    <insert id="registMinimumSystem">
        INSERT
        INTO MINIMUM_SYSTEM A
            (
               A.MIN_SYSTEM_CODE
               , A.MIN_OPERATING_SYSTEM
               , A.MIN_PROCESSOR
               , A.MIN_MEMORY
               , A.MIN_STORAGE_SPACE
               , A.MIN_GRAPHIC

            )
        VALUES
            (
            'MSYS_'|| MIN_SYSTEM_CODE_SEQ.NEXTVAL
                , #{ minOperatingSystem }
                , #{ minProcessor }
                , #{ minMemory }
                , #{ minStorageSpace }
                , #{ minGraphic }
            )


    </insert>

    <insert id="registRecommendedSystem">
        INSERT
        INTO RECOMMENDED_SYSTEM A
            (
                A.REC_SYSTEM_CODE
                , A.REC_OPERATING_SYSTEM
                , A.REC_PROCESSOR
                , A.REC_MEMORY
                , A.REC_STORAGE_SPACE
                , A.REC_GRAPHIC

            )
        VALUES
            (
            'RSYS_'|| REC_SYSTEM_CODE_SEQ.NEXTVAL
                , #{ recOperatingSystem }
                , #{ recProcessor }
                , #{ recMemory }
                , #{ recStorageSpace }
                , #{ recGraphic }
            )


    </insert>

    <insert id="registSpecification">
        INSERT
        INTO SPECIFICATION A
            (
            A.SPECIFICATION_CODE
            ,A.MIN_SYSTEM_CODE
            ,A.REC_SYSTEM_CODE

            )
        VALUES
            (
            'SPE_'|| SPECIFICATION_CODE_SEQ.CURRVAL
            , 'MSYS_'|| MIN_SYSTEM_CODE_SEQ.CURRVAL
            , 'RSYS_'|| REC_SYSTEM_CODE_SEQ.CURRVAL
            )



    </insert>





</mapper>