<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/news/news.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" defer src="/js/fileInput.js"></script>

    <title>newDetail</title>
</head>
<body>


<!-- 헤더 네비게이션바 -->
<div id="news">
    <th:block th:replace="~{common/header :: header}"/>
</div>

<!-- 작성창 -->

    <section class="news-insert">

        <!-- 뉴스제목 -->
        <div class="input detail-title"><h2 th:text="${detail.newsTitle}"></h2> </div>
        <div class="detail-sub">
            <div class="detail-sub-left"><p th:text="|${detail.memberName} ${detail.newsDate} ${detail.gameName}|"></p></div>
            <div class="detail-sub-right"><p>조회수</p> <p th:text="${detail.newsView}" ></p></div>
        </div>

        <div class="textarea-wrap">
            <div placeholder="본문 내용입니다." class="detail-body"><p th:text="${detail.newsContent}" ></p></div>
            <div class="detail-comList">
                <div class="detail-com" th:each="newsComItem : ${newsComList}">
                    <form th:action="@{newsDetail}" method="post">
                        <p th:text="${newsComItem.newsCom}"></p>
                        <input type="hidden" name="newsComCode" th:value="${newsComItem.newsComCode}">
                        <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                        <input type="text" name="newsCom" class="input com-input">
                        <button type="submit" class="update-btn">댓글 수정</button>
                    </form>

                    <form th:action="@{deleteNewsCom}" method="post" class="delete-btn">
                        <input type="hidden" name="newsComCode" th:value="${newsComItem.newsComCode}">
                        <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                        <button type="submit">댓글 삭제</button>
                    </form>

                </div>
                <div class="detail-com-input" id="news-Com">
                    <form th:action="@{uploadNewsCom}" method="post">
                        <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                        <input type="text" name="newsCom" id="insertNewsCom" class="input">
                        <button type="submit">댓글 작성</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- 삭제하기 버튼 -->
        <div class="btn-wrap">
            <form th:action="@{newsDelete}" method="get">
                <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                <input type="submit" value="삭제하기" class="btn">
            </form>
            <!-- 수정하기 버튼 -->
            <form th:action="@{newsUpdate}" method="get">
                <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                <input type="submit" value="수정하기" class="btn-primary">
            </form>
        </div>

    </section>

<!-- 푸터 -->
<div class="footer">
    <th:block th:replace="~{common/footer :: footer}"/>
</div>
</body>
</html>