<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/news/news.css">
    <title>newDetail</title>
</head>
<body>


<!-- 헤더 네비게이션바 -->
<div id="news">
    <th:block th:replace="~{common/header :: header}"/>
</div>

<!-- 작성창 -->

    <section class="news-insert active">

        <!-- 뉴스제목 -->
        <input type="text" name="newsTitle" id="title" placeholder="뉴스제목을 입력하세요." class="input-title" readonly = "readonly" th:value="${detail.newsTitle}">

        <div class="textarea-wrap active">
            <textarea placeholder="본문 내용입니다." class="textarea" id="textarea" name="newsContent"readonly = "readonly" th:text="${detail.newsContent}" ></textarea>
        </div>

        <!-- 삭제하기 버튼 -->
        <div class="btn-wrap">
            <form th:action="@{newsDelete}" method="get">
                <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                <input type="submit" value="삭제하기" class="btn">
            </form>
            <!-- 수정하기 버튼 -->
            <form th:action="@{newsUpdate}" method="get">
                <input type="hidden" name="newsCode" th:value="${detail.newsCode}">
                <input type="submit" value="수정하기" class="btn-primary">
            </form>
        </div>

    </section>

<!-- 푸터 -->
<div class="footer">
    <th:block th:replace="~{common/footer :: footer}"/>
</div>
</body>
</html>