<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/member/common.css">
    <link rel="stylesheet" href="/css/member/regist.css">
    <link rel="stylesheet" href="/css/screenModeSwapper.css">
    <title>gamespace - 로그인</title>
</head>
<body>
<script src="/js/init.js"></script> <!-- 초기 세팅 -->
<div class="member-main-bg bg-screen"></div>
<form id="registForm" action="/member/regist" method="post" onsubmit="return registCheck();">
    <div class="regist-main bg-window">
        <div class="window-title">
            <a href="/member/login" class="btn-cross btn-response">
                <div class="icon-cross"></div>
            </a>
            <div class="logo-gamespace">
                <div class="icon-gamespace"></div>
            </div>
        </div>
        <div class="window-input">
            <div class="regist-body">
                <div class="regist-input regist-step-1">
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userId" type="text" placeholder="ID">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userPwd" type="password" placeholder="Password">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userPwd-check" type="password" placeholder="Password Check">
                    </div>
                </div>
                <div class="regist-input regist-step-2">
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userNickname" type="text" placeholder="Nickname">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userName" type="text" placeholder="Name">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userBirthday" type="text" placeholder="Birthday (yyyymmdd)">
                    </div>
                    <div class="gender-area">
                        <label for="male">
                            <input type="radio" name="userGender" value="M" id="male" class="btn-response" checked>
                            <div class="btn-white-default gender-btn"><p>남</p></div>
                        </label>
                        <label for="female">
                            <input type="radio" name="userGender" value="F" id="female" class="btn-response" checked>
                            <div class="btn-white-default gender-btn"><p>여</p></div>
                        </label>
                        <label for="unknown">
                            <input type="radio" name="userGender" value="U" id="unknown" class="btn-response" checked>
                            <div class="btn-white-default gender-btn"><p>비공개</p></div>
                        </label>
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userPhone" type="text" placeholder="Phone">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userEmail" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="regist-input regist-step-3">
                    <div class="regist-zipcode">
                        <div class="input-placeholder modify-zipcode input-required">
                            <input class="input-text" name="regist-zipcode" type="text" placeholder="Zip code">
                        </div>
                        <a href="#" class="zipcode-search-btn btn-response btn-white-default">
                            <p class="zipcode-search-text">&gt;</p>
                        </a>
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="regist-address1" type="text" placeholder="Address">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="regist-address2" type="text" placeholder="Address detail">
                    </div>
                    <div class="input-placeholder input-required">
                        <input class="input-text" name="userIntroduce" type="text" placeholder="About Me">
                    </div>
<!--                    <input class="address-sum" type="hidden" name="userAddress">-->
                </div>
                <div class="regist-input regist-step-4">
                    <div class="g-recaptcha" data-sitekey="6LeYBncjAAAAADP1POqLMPJRDjorv1H9gTpY4Dbt"></div>
<!--                    <a href="#" class="btn-blue-default regist-btn btn-response">-->
<!--                        <p class="regist-btn-text white-text">회원가입</p>-->
<!--                    </a>-->
                    <input type="submit" value="회원가입" class="btn-blue-default regist-btn btn-response regist-btn-text white-text">
                </div>
            </div>
        </div>
    </div>
</form>
<input class="screen-mode-btn" type="checkbox">

<!-- APIs -->
<!-- g-RECAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
<script src="/js/member.js"></script>
<script src="/js/screenModeResponse.js"></script>
</body>
</html>