



/* 메인이미지 배너 ------------------------------------------*/
.main-swiper{
    
    width: 708px;
    margin: 0 auto;
    padding: 0 16px;
    
}
.swiper{
    
    border-radius: 20px;
}

.swiper-slide {
	width: 100%;
    height: 286px;
	
	
}
.swiper-slide img{
    width: 100%;
    height: 286px;


}

.swiper-pagination-bullet{
    width: 40px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background: #fff;
    width: 80px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;
	background-color: rgba(240, 240, 240, 0.7);
	backdrop-filter: blur(3px);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	border-radius: 50%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	/* top: 80px; */

}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
	display: none;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: #5606EF;
	box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
}
.swiper-button-prev {
	background-image: url(../image/svg/icon-arrow-left.svg);
	left: 20px;
}

.swiper-button-prev:hover {
	background-image: url(../image/svg/icon-arrow-left-w.svg);
}

.swiper-button-next {
	background-image: url(../image/svg/icon-arrow-right.svg);
	right: 20px;
}

.swiper-button-next:hover {
	background-image: url(../image/svg/icon-arrow-right-w.svg);

}


/* 토글버튼 -----------------------------------------------------------------*/
.toggles{
    width: 708px;
    margin:auto;
    margin-top: 20px;
    position: relative;
}

.toggle{
    display: inline-block;
    position: absolute;
    right: 16px;    
    width: 112px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    align-items: center;
}

.category{
    position: absolute;
    left: -10000%;
}

.togg{
    position: absolute;
    left: 2px;
    top: 50%;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    transform: translateY(-50%);
    
}
input:checked + .togg {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: -webkit-linear-gradient(left,#F7BE2B, #F537F9);
    
    
}


.mobile{
   
    left: 38px;
}
.console{
    
    left: 74px;
}


.togg img{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* 카테고리 -----------------------------------------------------------------*/
.categorys{
    margin: auto;
    padding: 0 16px;
    margin-top: 38px;
    width: 708px;
    
}
.categorys .title{
    width: 100px;
}
.categorys h3{
    font-size: 14px;
    font-weight: bold;
    color: #4A576F;
    opacity: 0.6;
}


/* 장르컨텐츠 */
.main2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 4px;
    gap: 24px;

    position: relative;
    margin: auto;
    width: 708px;
    margin-top: 14px;

}
.items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

}

.items{
    position: relative;
    max-width: 708px;
    margin: auto;
    padding: 0 4px;
    
    
}

.item-wrap{
    position: relative;
    width: 224px;
    height: 260px;
    border-radius: 16px;
    padding: 12px;
}
.item-wrap:hover{
    background: -webkit-linear-gradient(left,rgba(74,177,241,0.1),rgba(86,108,236,0.1), rgba(215,73,175,0.1), rgba(255,124,81,0.1));
	background:    -moz-linear-gradient(left,rgba(74,177,241,0.1),rgba(86,108,236,0.1), rgba(215,73,175,0.1), rgba(255,124,81,0.1));
    background:      -o-linear-gradient(left,rgba(74,177,241,0.1),rgba(86,108,236,0.1), rgba(215,73,175,0.1), rgba(255,124,81,0.1));
    background:         linear-gradient(left,rgba(74,177,241,0.1),rgba(86,108,236,0.1), rgba(215,73,175,0.1), rgba(255,124,81,0.1));
}

.item-img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}
.item-img img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.item-text{
    margin-top: 8px;
    color: #22242C;
    font-size: 16px;
    font-weight: bold;
}



/* 미디어쿼리 ----------------------------------------------------------------------*/
@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){
    
}

