.lists{
    margin: auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 20px;

    width: 708px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 12px;
    gap: 10px;
    isolation: isolate;

    width: 676px;
    height: 142px;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.list:hover{
    background: linear-gradient(90deg, rgba(255, 233, 244, 0.3) 0%, rgba(234, 243, 255, 0.5) 100%);
    border-radius: 16px;
}

.game-head{
    width: 652px;
    height: 24px;



    /* Light/Primary Text */

    color: #22242C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}
.game-head p{
    /* 18/18 - SemiB */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.014em;
}
.game-body{
    width: 652px;
    height: 48px;


    /* Light/Primary Text */

    color: #22242C;

    opacity: 0.6;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.game-body p{
    /* 16/16 - Reg */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.011em;
}
/* 페이지네이션 --------------------------------------------------------------------*/
.pagination{
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: 0 auto;
    padding: 8px;
    /* Light/Hover BG */

    background: linear-gradient(90deg, rgba(255, 233, 244, 0.3) 0%, rgba(234, 243, 255, 0.5) 100%);
    border-radius: 24px;

    width: 348px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.pagination-wrap{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    left: 2.3%;
    right: 2.3%;
    top: 20%;
    bottom: 20%;

    border-radius: 24px;
}
.pagination ol{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    border-radius: 24px;
}
.pagination-wrap i{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 5px 5px;
}
.pagination-wrap i img{
    width: 14px;
    height: 14px;
}

.pagination ol li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;
    order: 1;
    flex-grow: 0;
}
.pagination ol li a {
    /* Auto layout */

    margin: 0 auto;

    align-items: center;
    padding: 0px;
    gap: 4px;


    border-radius: 24px;

    /* 14/14 - Med */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* Light/Light Gray */

    color: rgba(74, 87, 111, 0.7);

}
.pagination ol li.active a {
    font-weight: bold;
    color: rgba(77, 62, 255, 0.9);
}
